<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="sdkit_menu" title="Sdkit Magento" module="Sdkit_Sdkit" sortOrder="50" resource="Sdkit_Sdkit::menu" />
        <add id="sdkit_index" title="Sdkit Index" module="Sdkit_Sdkit"
             sortOrder="40" action="sdkit/index"  resource="Sdkit_Sdkit::menu" parent="sdkit_menu" />
    </menu>
</config>
